<%- include('Header') %>
<section id="home">
  <div class="hero-text">
    <div class="left-content">
      <h3>Welcome,</h3>
      <h1>More than just Driving Instructions.</h1>
    </div>
    <div class="right-content">
      <p>
        Master the Road with Confidence.<br />
        Learn to Drive Safely, Smartly, and Stress-Free. Our certified
        instructors make every lesson engaging, empowering, and tailored to your
        pace.
      </p>
      <button onclick="window.location.href='#courses'">
        Get Started<i class="fa-solid fa-arrow-right"></i>
      </button>

      <a href="tel:+2347061005306"
        >Contact Us<i class="fa-solid fa-phone-flip"></i
      ></a>
    </div>
  </div>

  <div class="hero">
    <img
      src="/images/bas-peperzak-tyhpK_QelPo-unsplash.webp"
      alt="background Image"
    />
  </div>
</section>
<%- include('About') %> <%- include('Courses') %> <%- include('Process') %> <%-
include('Team') %> <%- include('Price') %> <%- include('Gallery') %> <%-
include('Contact') %> <%- include('Footer') %>
